.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.img-bergamota {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.img-bergamota:hover {
  transform: scale(1.05) rotate(-2deg);
}
